<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Dashboard Solicitante</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>
<body class="fondo-azul dashboard-solicitante">


  <img src="{{ url_for('static', filename=logo_path) }}" class="decoracion-izquierda">


  <div class="iconos-superiores">
    <img src="{{ url_for('static', filename='img/logout.png') }}" class="icono" />
    <a href="{{ url_for('logout') }}">
      <button class="cerrar-sesion">Cerrar Sesión</button>
    </a>
  </div>

  <div class="contenedor-dashboard-solicitante">

  <div class="bloque-superior">
    <h2 class="titulo-dashboard">Bienvenido, {{ nombre }}</h2>
    <div class="icono-usuario">
      <img src="{{ url_for('static', filename='img/logo_solicitante.png') }}" alt="usuario" />
    </div>
    <h3 class="subtitulo-dashboard">Escoja su solicitud que desea:</h3>
  </div>

  <div class="fila-botones">
    <div class="opcion">
      <a href="{{ url_for('crear_solicitud') }}">
        <img src="{{ url_for('static', filename='img/crear.png') }}" class="icono-opcion" />
        <p class="texto-opcion">Crear Servidor</p>
      </a>
    </div>
    <div class="opcion">
      <a href="{{ url_for('crear_eliminacion') }}?tipo=eliminar">
        <img src="{{ url_for('static', filename='img/eliminar.png') }}" class="icono-opcion" />
        <p class="texto-opcion">Eliminar Servidor</p>
      </a>
    </div>
    <div class="opcion">
      <a href="{{ url_for('crear_recurso_compartido') }}">
        <img src="{{ url_for('static', filename='img/recursos.png') }}" class="icono-opcion" />
        <p class="texto-opcion">Recursos Compartidos</p>
      </a>
    </div>
    <div class="opcion">
      <a href="{{ url_for('historial') }}">
        <img src="{{ url_for('static', filename='img/historial.png') }}" class="icono-opcion" />
        <p class="texto-opcion">Historial de Solicitudes</p>
      </a>
    </div>
  </div>
  </div>

  <a href="{{ url_for('inicio') }}">
    <img src="{{ url_for('static', filename='img/volver.png') }}" class="volver">
  </a>

</body>
</html>

