<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Dashboard Administrador</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>
<body class="fondo-azul">

  
  <img src="{{ url_for('static', filename='img/logo_municipio3.png') }}" class="decoracion-izquierda" />

  <!-- Iconos superiores derecha -->
  <div class="iconos-superiores">
    <img src="{{ url_for('static', filename='img/engranaje.png') }}" class="icono" />
    <img src="{{ url_for('static', filename='img/logout.png') }}" class="icono-salida" />
    <a href="/logout">
      <button class="cerrar-sesion">Cerrar Sesión</button>
    </a>
  </div>


  <div class="contenedor-dashboard">

    <h1 class="titulo-bienvenida">Bienvenido, Administrador</h1>

    
    <div class="contenedor-tabla">
      <h3 class="subtitulo-tabla">Historial de solicitudes</h3>
      <table>
        <tr>
          <th>N°</th>
          <th>Tipo de Solicitud</th>
          <th>Fecha</th>
          <th>Estado</th>
          <th>Acción</th>
        </tr>
        {% for solicitud in solicitudes %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ solicitud[1] }}</td>
          <td>{{ solicitud[2] }}</td>
          <td>
            <span class="estado 
              {% if solicitud[3] == 'pendiente' %}pendiente
              {% elif solicitud[3] == 'aprobado' %}aprobado
              {% elif solicitud[3] == 'rechazado' %}rechazado
              {% endif %}">
            </span>
          </td>
          <td>
            {% if solicitud[3] == 'pendiente' %}
              <a href="{{ url_for('revisar_solicitud', id=solicitud[0]) }}" class="btn-revisar">Revisar</a>
            {% elif solicitud[3] == 'aprobado' %}
              Aprobado
            {% elif solicitud[3] == 'rechazado' %}
              Rechazado
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>

    </div>
  </div>

  <!-- Botón volver -->
  <a href="{{ url_for('inicio') }}">
    <img src="{{ url_for('static', filename='img/volver.png') }}" class="volver">
  </a>

</body>
</html>
