<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Historial de Solicitudes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/historial_solicitante.css') }}">
</head>
<body>
    <div class="container-historial">
        <a href="{{ url_for('logout') }}" class="btn-cerrar-sesion">
                    Cerrar Sesion        
        </a>
        <h2 class="titulo-historial">Historial de Solicitudes:</h2>
        <div class="cuadro-historial">
        <table>
            <tr>
                <th>N°</th>
                <th>Tipo de Solicitud</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Acción</th>
            </tr>
            {% for solicitud in solicitudes %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ solicitud[1] }}</td>
                <td>{{ solicitud[2] }}</td>
                <td>
                    <span class="estado 
                        {% if solicitud[3] == 'pendiente' %}pendiente
                        {% elif solicitud[3] == 'aprobado' %}aprobado
                        {% elif solicitud[3] == 'rechazado' %}rechazado
                        {% endif %}">
                    </span>
                </td>
                <td>
                    {% if solicitud[3] == 'rechazado' %}
                        <button type="button" onclick="mostrarObservacion('{{ solicitud[4] }}')">Observación</button>
                        <a href="{{ url_for('editar_solicitud', id=solicitud[0]) }}">Editar</a>
                    {% endif %}                    
                </td>
            </tr>
            {% endfor %}
        </table>


        <div class="leyenda">
            
                <div><span class="estado pendiente"></span> Pendiente</div>
                <div><span class="estado aprobado"></span> Aprobado</div>
                <div><span class="estado rechazado"></span> Rechazado</div>
        </div>

        </div>

        <a href="{{ url_for('dashboard_solicitante') }}" class="btn-volver">
            <img src="{{ url_for('static', filename='img/volver.png') }}" alt="Volver">
        </a>

    </div>

    <div id="modalObservacion" class="modal-observacion" style="display:none;">
        <div class="modal-contenido">
            <h3>Observación del Administrador</h3>
            <p id="textoObservacion"></p>
            <button onclick="cerrarObservacion()">Cerrar</button>
        </div>
    </div>

<script>
    function mostrarObservacion(texto) {
    document.getElementById('modalObservacion').style.display = 'flex';
    document.getElementById('textoObservacion').textContent = texto;
    }
    function cerrarObservacion() {
    document.getElementById('modalObservacion').style.display = 'none';
    }
</script>
   

</body>
</html>
