<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login Solicitante</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>
<body class="fondo-azul">
    <div class="contenedor-login">
        <img src="{{ url_for('static', filename='img/logo_municipio3.png') }}" class="decoracion-izquierda" />

        <h1 class="titulo-login">Sistema de Gestión de Solicitudes de Infraestructura</h1>
        <h2 class="subtitulo-login">Iniciar sesión como Solicitante</h2>

        <form method="POST" action="/login_solicitante">
            <div class="grupo-campo">
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" required>
            </div>
            <div class="grupo-campo">
                <label for="apellido">Apellido:</label>
                <input type="text" name="apellido" required>
            </div>
            <div class="grupo-campo">
                <label for="correo">Correo:</label>
                <input type="email" name="correo" required>
            </div>
            <button type="submit">INGRESAR</button>
        </form>

        <a href="{{ url_for('inicio') }}">
            <img src="{{ url_for('static', filename='img/volver.png') }}" class="volver" />
        </a>
    </div>
</body>
</html>
